@import url('https://fonts.googleapis.com/css?family=Nunito');

@import './abstracts/variables';

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;

    font-family: $font-family-sans-serif, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}

img {
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}
