@import url(https://fonts.googleapis.com/css?family=Nunito);
/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    font-family: "Nunito", sans-serif, sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 20px;
}

img {
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style-type:  none;
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-nav {
    display: flex;
    gap: 40px;
    padding-inline-start: 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    border-bottom: solid 1px grey;
    border-bottom: solid 1px grey;
}

.pag {
    display: flex;
    align-items: center;
    gap: 10px;
}

